body {
    background-color:wheat;
    background-image:url("image/bir5.jpg");
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    height: 100%;
    width: 100%;
  }
  .content {
      position: absolute;
      z-index: 1;
      top: 15%;
      left: 50%;
      margin-top: 00px;
      margin-left: -145px;
      width: 200px;
      height: 150px;
      text-align:center;
      
  }
  .content .title {
      font-size: 2.6rem;
      margin-top: 1rem;
    }
    .content .title1 {
      top: 00%;
      left: 100%;
      font-size: 1.3rem;
      margin-top: 0.5rem;
  }
  #part{
    top: 00%;
    left: 100%;
    background-color: #FF9800;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position:relative;
    height: auto;
    width:auto;
  }
  #part1{
    top: 00%;
    left: 100%;
    background-color: rgb(231, 100, 220);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position:relative;
    height: auto;
    width:auto;
  }
  #part2{
    top: 00%;
    left: 100%;
    background-color: rgb(57, 240, 209);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position:relative;
    height: auto;
    width:auto;
  }
  #part3{
    top: 00%;
    left: 100%;
    background-color: rgb(57, 240, 57);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position:relative;
    height: auto;
    width:auto;
  }
  #part4{
    top: 00%;
    left: 100%;
    background-color: rgb(245, 167, 225);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position:relative;
    height: auto;
    width:auto;
  }
  